body {
	background-color: #1d0200;
  }

.imanolApp {
	color: #fff9d0;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.bank-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 50px;
  }
  
  .bank-item {
	width: 30%;
	margin-bottom: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .bank-item h2 {
	font-size: 24px;
	margin-bottom: 10px;
	font-size: 2rem;
  }
  
  .bank-item p {
	font-size: 16px;
	margin-bottom: 10px;
	font-size: 1.2rem;
  }

  .bank-item a {
	text-decoration: none;
	color: #fff9d0;
	font-size: 1.2rem;
  }

  .bank-item a:hover {
	text-decoration: underline;
	color: #d6fffe;
	font-size: 1.2rem;
  }
  
  @media (max-width: 500px) {
	.bank-list {
	  flex-direction: column;
	  align-items: stretch;
	}
	
	.bank-item {
	  width: 100%;
	  margin-bottom: 20px;
	}
  }
  